# Workflow file for registering dad jokes from issues
name: Register oyajigyagu from issues

on:
  issues:
    types: [opened]

permissions:
  issues: write
  contents: write

jobs:
  register-dad-jokes:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.event.issue.title, 'Add oyajigyagu ') }}
    steps:
      - name: Check permissions
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        with:
          script: |
            const { data: permissions } = await github.rest.repos.getCollaboratorPermissionLevel({
              owner: context.repo.owner,
              repo: context.repo.repo,
              username: context.payload.issue.user.login
            });
            if (permissions.permission !== 'write' && permissions.permission !== 'admin') {
              throw new Error('User does not have write permissions');
            }

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Install dependencies
        run: npm install
        working-directory: .github/scripts

      - name: Acquire lock
        run: |
          node .github/scripts/acquire-lock.js

      - name: Sync database to main branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE_PAYLOAD: ${{ toJson(github.event.issue) }}
        run: |
          node .github/scripts/sync-database.js

      - name: Release lock
        run: |
          node .github/scripts/release-lock.js